@model MyClass.Model.Products
<div class="single-search-product d-flex">
    <a href="@Url.Action("ProductDetails", "Site", new {id = Model.Id})"><img src="~/Public/img/product/@Model.Img" alt="@Model.Slug"></a>
    <div class="desc">
        <a href="@Url.Action("ProductDetails", "Site", new {id = Model.Id})" class="title">Gray Coffee Cup</a>
        <div class="price">$ @Model.PriceSale</div>
    </div>
</div>